# Arquitetura de Sistemas
* @RafaelRisso

# Dev Júnior precisa de aprovação de Pleno ou Sênior 

/test/* @ollyvergithub @rafaelrisso

# PRs para Homologação precisam de aprovação de Tester 

/homolog/* @willssan06

# PRs para Produção precisam de aprovação do Product Owner 

/master/* @product-owner 

# Bug fixes seguem o mesmo fluxo de features 

/bugfix/* @ollyvergithub @rafaelrisso

 # Bug fixes seguem o mesmo fluxo de features 

/hotfix/* @ollyvergithub @rafaelrisso


 

 
