# NextAuth Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=

#AUTENTICA CORESSO (HOMOLOGAÇÃO)
AUTENTICA_CORESSO_API_TOKEN=
AUTENTICA_CORESSO_API_URL=

# Sistema que o usuário precisa ter acesso
NEXT_PUBLIC_SISTEMA_AUTOSERVICO=

# Versão da autenticação (v1 ou v2)
# v1 Autentica CORESSO
# v2 Autentica Keycloak
NEXT_PUBLIC_AUTH_VERSION=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_GRANT_TYPE=
KEYCLOAK_REALM=
KEYCLOAK_URL=



# Squads válidas para acesso (separadas por vírgula)
NEXT_PUBLIC_SQUADS_VALIDAS=

# Configuração para desenvolvimento
AUTH_TRUST_HOST=

ZABBIX_API_URL=
ZABBIX_API_TOKEN=
ZABBIX_DEFAULT_HOST=

# Azure DevOps Backlog
AZURE_DEVOPS_API_URL=
AZURE_DEVOPS_PAT=

# SonarQube
SONAR_URL=
SONAR_TOKEN=