# Arquitetura de Sistemas
* @RafaelRisso

# Dev Júnior precisa de aprovação de Pleno ou Sênior 

/teste/* @ollyvergithub @rafaelrisso

# PRs para Homologação precisam de aprovação de Tester 

/hom/* @willssan06

# PRs para Produção precisam de aprovação do Product Owner 

/prod/* @product-owner 

# Bug fixes seguem o mesmo fluxo de features 

/bugfix/* @dev-pleno @dev-senior 

 # Bug fixes seguem o mesmo fluxo de features 

/hotfix/* @dev-pleno @dev-senior 


 

 
